<%- include("../partials/_header.ejs") %>
<%- include("../partials/_navbar.ejs") %>

<div class="edit-blog">
  <h1>Edit Blog</h1>

  <form action="/blogs/<%= blog._id %>?_method=PUT" enctype="multipart/form-data" method="POST">
    <label for="description">Description</label>
    <input type="text" name="description" id="description" value="<%= blog.description %>" required>

    <% if (blog.images && blog.images.length > 0) { %>
      <p>Current Images:</p>
      <div class="current-images">
        <% blog.images.forEach(img => { %>
          <img src="/<%= img %>" alt="Blog Image">
        <% }) %>
      </div>
    <% } %>

    <label for="images">Upload Up To 10 Images (Multiple Allowed)</label>
    <input type="file" name="images" multiple accept="image/*">

    <% if (blog.video) { %>
      <p>Current Video:</p>
      <video controls width="300">
        <source src="/<%= blog.video %>" type="video/mp4">
      </video>
    <% } %>

    <label for="video">Upload Video (One Allowed)</label>
    <input type="file" name="video" accept="video/*">

    <button type="submit">Edit Blog</button>
  </form>
</div>
