<%- include("../partials/_header.ejs") %>
<%- include("../partials/_navbar.ejs") %>

<h1>All Blogs</h1>

<form action="/blogs/search" method="get">
  <input type="text" name="username" placeholder="Search by username">
  <button type="submit">Search</button>
</form>

<% if (blogs.length === 0) { %>
  <p>No blogs found.</p>
<% } %>

<% blogs.forEach(blog => { %>
  <div>
    <div>
      <img src="<%= blog.owner.image %>" alt="profile picture" width="50">
      <p><%= blog.owner.username %></p>
      <p>Created at: <%= blog.createdAt.toLocaleString() %></p>
    </div>
    <p><%= blog.description %></p>
    <% if (blog.images && blog.images.length > 0) { %>
      <% blog.images.forEach(img => { %>
        <img src="/<%= img %>" width="200">
      <% }) %>
    <% } %>
    <% if (blog.video) { %>
      <video controls width="300">
        <source src="/<%= blog.video %>" type="video/mp4">
      </video>
    <% } %>
    <a href="/blogs/<%= blog._id %>">Details</a>
  </div>
<% }) %>

<%- include("../partials/_footer.ejs") %>
