<%- include("../partials/_header.ejs") %>
<%- include("../partials/_navbar.ejs") %>

<div class="blog-top">
<h1>All Blogs</h1>

<form action="/blogs/search" method="get" class="search-form">
  <input type="text" name="username" placeholder="Search by username">
  <button type="submit">Search</button>
</form>
</div>

<% if (blogs.length === 0) { %>
  <p class="no-blogs">No blogs found.</p>
<% } %>

<!-- Blog Grid Container -->
<div class="blogs-grid">
  <% blogs.forEach(blog => { %>
    <div class="blog-card">
      <div class="blog-header">
        <img src="<%= blog.owner.image %>" alt="profile picture">
        <div>
          <p class="username"><strong><%= blog.owner.username %></strong></p>
          <p class="date"><%= blog.createdAt.toLocaleDateString() %></p>
        </div>
      </div>

      <p class="blog-description"><%= blog.description %></p>

      <% if (blog.images && blog.images.length > 0) { %>
        <img src="/<%= blog.images[0] %>" alt="blog image" class="blog-image">
      <% } %>

      <% if (blog.video) { %>
        <video controls class="blog-video">
          <source src="/<%= blog.video %>" type="video/mp4">
        </video>
      <% } %>

      <a href="/blogs/<%= blog._id %>" class="blog-link-index">View Details</a>
    </div>
  <% }) %>
</div>

<%- include("../partials/_footer.ejs") %>
