<%- include("../partials/_header.ejs") %>
<%- include("../partials/_navbar.ejs") %>

<div class="blog-top">
<h1>My Blogs</h1>

<div class="add-blog-container">
  <a href="/blogs/create" class="add-blog-btn">Add Blog</a>
</div>
</div>

<% if (blogs.length === 0) { %>
  <p class="no-blogs">No blogs found.</p>
<% } %>

<div class="blogs-grid">
  <% blogs.forEach(blog => { %>
    <div class="blog-card">
      <div class="blog-header">
        <img src="<%= blog.owner.image %>" alt="profile picture">
        <div>
          <p class="username"><strong><%= blog.owner.username %></strong></p>
          <p class="date"><%= blog.createdAt.toLocaleDateString() %></p>
        </div>
      </div>

      <p class="blog-description"><%= blog.description %></p>

      <% if (blog.images && blog.images.length > 0) { %>
        <img src="/<%= blog.images[0] %>" alt="blog image" class="blog-image">
      <% } %>

      <% if (blog.video) { %>
        <video controls class="blog-video">
          <source src="/<%= blog.video %>" type="video/mp4">
        </video>
      <% } %>

      <div class="blog-actions">

            <a href="/blogs/<%= blog._id %>" class="blog-link">Details</a>
    <a href="/blogs/<%= blog._id %>/edit" class="edit-btn">Edit</a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="post" class="delete-form">
      <button type="submit" class="delete-btn">Delete</button>
    </form>
      </div>
    </div>
  <% }) %>
</div>
<%- include("../partials/_footer.ejs") %>
