<%- include('../partials/_navbar.ejs') %>
<img src="<%= user.image %>" alt="Profile picture" />
<h1><%= user.first_name %> <%= user.last_name %></h1>
<p>Username: <%= user.username %></p>
<p>Gmail: <%= user.gmail %></p>
<<<<<<< HEAD

=======
>>>>>>> main
<% if (user&& favoritedBlogs.length === 0) { %>
  <p>no favorites</p>
<%} else {%>
  <p>Favorited Blogs</p>
  <ul>
  <% favoritedBlogs.forEach(blog => { %>
    <li>
<<<<<<< HEAD

=======
>>>>>>> main
    <a href="/blogs/<%= blog._id %>" > <%= blog.description %> </a>
    </li>
<% }) %>
</ul>
<%}%>
<a href="/users/profile/<%= user._id  %>/edit">Edit profile</a>
