<%- include('../partials/_navbar.ejs') %>
<img src="<%= user.image %>" alt="Profile picture">
<h1><%= user.first_name  %> <%= user.last_name  %></h1>
<p>Username: <%= user.username  %></p>
<p>Gender: <% user.gender %></p>

